.support{
    background-image: url('../img/support-crypto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;

    .support-coins{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6rem;
        row-gap: 2rem;

        &-item{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: .5rem;

            img{
                width: 4rem ;
            }
        }
    }

    h2.h1, p{
        margin-bottom: 1rem;
        color: $white;
    }
}