.support{
    background-image: url('../img/support-crypto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;

    &-coins{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
        @include respond(desktop){
            column-gap: 6rem;

        }

        &-item{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: .5rem;

            img{
                width: 4rem ;
            }
        }
    }

    h2.h1, p{
        margin-bottom: 1rem;
        color: $white;
    }

    &-extra{
        margin: 0 auto;
        border-radius: 1rem;
        padding: 3rem;
        margin-top: -6rem;
        background-color: $white;
        box-shadow: 0 .25rem 7rem rgba($primary, 0.2);
        position: relative;
        z-index: 2;
        width: 100%;
        
        @include respond(desktop){
            width: 867px;

        }
    }
}