.testimonial{

    &-container{
        padding: 8rem 0;
        background-color: $white;   
        box-shadow: 0 .25rem 7rem rgba($primary, 0.2);
        border-radius: 1rem;

        .img{
            width: 100px;
            height: 100px;
            img{
                width: 100%;
            }
        }
    }
}